<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
  </head>
 
  <body>
    {% extends "index.html" %}
    {% block content %}
      
      {% if msg %}
      <h1>{{ msg }}</h1>
      {% endif %}
     
      <div class="table">
      <table role="presentation" border="0"  cellpadding="0" align="center" width="100%">
        <tr>
        </br></br></br></br></br></br>
          <th><br><font size="5" color="black">
            
          <div class="upload">
            <h1>Upload new File</h1>
          </div>
          <form method=post enctype=multipart/form-data>
            <p><input type=file name=file>
            <input type=submit value=Upload>
          </form>
          <br>
          <div class="upload">
            <h1>Result:</h1>
          </div>  
        
            <div class="text">
            {% if extracted_text %}
              <p><b> {{ extracted_text }} </b></p>
           
            {% else %}
              <p>The extracted text will be displayed here </p>
            {% endif %}
          </br></br>
          </div></font>
          </th>	
        </tr>
      </table>
      </div>
      {% endblock %}
    </body>
   </html>


   